<h1> Resbook </h1>

<% @reservations.each do |reservation| %>
	<h2><%= reservation.restaurant.name %></h2>
	<p> <%= reservation.date %> </p>
	<p>	<%= reservation.last_name %> </p>
	<p> <%= link_to "Accept", reservation_path(reservation), class: "btn btn-success btn-xs", :method => :put %> | 
	<%= link_to "Refuse", reservation_path(reservation), class: "btn btn-danger btn-xs", :method => :delete %>
	</p>

	<hr />
<% end %> 

