<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.description %></p>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone %></p>
<td><%= image_tag(@restaurant.photo.thumb.url) %></td>

<% if current_user && !@has_rating %>
  <div id='ratings'>
		<%= link_to "rate 1", rate_restaurant_path(@restaurant, 1), class: "rate_it_btn btn btn-primary" %>
		<%= link_to "rate 2", rate_restaurant_path(@restaurant, 2), class: "rate_it_btn btn btn-primary" %>
		<%= link_to "rate 3", rate_restaurant_path(@restaurant, 3), class: "rate_it_btn btn btn-primary" %>
		<%= link_to "rate 4", rate_restaurant_path(@restaurant, 4), class: "rate_it_btn btn btn-primary" %>
		<%= link_to "rate 5", rate_restaurant_path(@restaurant, 5), class: "rate_it_btn btn btn-primary" %>
  </div>
<% end %>

<div id="map"><img src="https://maps.googleapis.com/maps/api/staticmap?size=240x240&markers=icon:http://chart.apis.google.com/chart?chst=d_map_pin_icon%26chld=restaurant%257C996600%7C224<%= @restaurant.address %>">

</div>

<p><%= link_to "Make a reservation", new_reservation_for_restaurant_path(restaurant_id:@restaurant.id), class: "btn btn-success"%></p>

<p><%= link_to "Back", restaurants_path, class: "btn btn-primary" %></p>
