<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.description %></p>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone %></p>

<p><%= link_to "Back", restaurants_path, class: "btn btn-primary" %></p>

<div id="map"><img src="https://maps.googleapis.com/maps/api/staticmap?size=240x240&markers=icon:http://chart.apis.google.com/chart?chst=d_map_pin_icon%26chld=restaurant%257C996600%7C224<%= @restaurant.address %>">
	
</div>