<!DOCTYPE html>
<html>
<head>
  <title>Resbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-default navbar-static-top">
		<div class="navbar-inner">
			<div class="container">
				<div class="navbar-header">
				    <a class="navbar-brand">Resbook</a>
				</div>
			</div>
		</div>
	</div>
  <div class="container">
	  	<% flash.each do |key, value| %>
	  	<p> <%= value %> </p>
	  	<% end %>

	  <% unless current_user %>
	    <%= link_to "Login",    new_user_session_path %>
	    <%= link_to "Register", new_user_registration_path %>
	  <% else %>
	    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
	  <% end %>

	  <%= yield %>  
  </div>
</body>
</html>